# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build output
dist/

# Editor directories and files
.vscode/
.idea/
.DS_Store

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm/

# Yarn Integrity file
.yarn-integrity

# Optional eslint cache
.eslintcache

# Optional REPL history
.node_repl_history

# MacOS files
.DS_Store

# Windows thumbnail cache files
Thumbs.db

# IDE specific files
*.swp
*.swo
.vercel
